  <p>
    <b>Tracker name:</b>
    <%= tracker.name %>
  </p>
   <p>
    <b>Tracker email:</b>
    <%= tracker.email %>
  </p>
  <p>
    <b>Track spec:</b>
    <%= tracker.tspec %>
  </p>

<p>
  <%= link_to 'Destroy Tracker', [tracker.post, tracker],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
